.crit-details {
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 0.95rem;
    margin-bottom: 0.2rem;
    width: 100%;
    overflow: unset;
}

.crit-details .display_name {
    font-weight: 700;
    color: var(--text-primary);
    margin-right: 0.3rem;
}

.crit-details .display_name:hover,
.crit-details .display_name:active {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.crit-details .username,
.crit-details .date {
    font-weight: 500;
    color: var(--grey);
}

.crit-details .icon-container {
    margin: 0;
}

.separator {
    margin: 0 0.3rem;
    color: var(--grey);
}

.crit-details .more-options {
    /* right: -8px;
    top: 3px; */
}

.crit-details .more .icon-container {
    width: 17px !important;
    height: 17px !important;
}
