.crit .crit-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem !important;
}

.crit-actions-container {
    display: flex;
    align-items: center;
}

.crit-actions-container .bookmark .icon-container {
    margin-right: 1rem;
    stroke-width: 0 !important;
}

.crit-actions-container .bookmark .icon-container .icon {
    font-size: 0.5rem !important;
    stroke-width: unset !important;
}

.action-btn {
    position: relative;
}

.crit-actions .action-btn .recrit-options {
    top: -10px !important;
    left: -10px !important;
    width: 135px !important;
}

.crit-actions .action-btn .recrit-options .float-icon-container {
    width: 30px !important;
}

.action-btn .count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.action-btn .count-container span {
    padding: 0 0.75rem;
}

.reply.applied .icon,
.reply.applied span,
.reply:hover span,
.view.applied .icon,
.view.applied span,
.view:hover span {
    color: var(--primary-colour) !important;
}

.recrit.applied .icon,
.recrit.applied span,
.recrit:hover span {
    color: var(--recrit) !important;
}

.like.applied .icon,
.like.applied span,
.like:hover span {
    color: var(--like) !important;
}

.action-btn .count-container {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--grey);
}
