.crit-modal .modal-content_wrapper {
    position: absolute !important;
    top: 45px;
    height: 800px !important;
}

.crit-modal .modal-content {
    padding: 0 !important;
    height: auto;
}

.crit-modal .modal-content .quote-preview {
    margin-bottom: 1rem;
}

.crit-modal header {
    width: 100%;
    align-items: flex-start;
    padding: 1rem 1.2rem;
    border: 0 !important;
}

.crit-modal header .header-btn_icon {
    width: 23px !important;
    height: 23px;
    stroke-width: 0px;
}

.wrap {
    display: flex;
}

.crit-modal .crit-input {
    width: 100%;
    padding: 0 1rem 0.5rem 1rem;
}

.crit-modal .crit-input_container {
    display: flex;
}

.crit-modal .crit-input_container textarea::placeholder {
    color: var(--input-placeholder);
    letter-spacing: 0.3px;
}

.crit-modal .pfp-container {
    align-items: flex-start;
    padding-top: 0.3rem;
    margin-right: 0.75rem !important;
}

.crit-modal .pfp-container .pfp {
    width: 40px;
    height: 40px;
}

.crit-modal .crit-input-wrapper .crit-text {
    display: block;
}

.crit-modal .crit-input-wrapper {
    width: 100%;
    margin: 0.75rem 0 !important;
}

.crit-modal .input-wrap {
    width: 100%;
    min-height: 150px;
}

.crit-modal .audience,
.crit-modal .reply {
    display: flex;
    width: auto;
}

.crit-modal .crit-actions {
    border-top: 1px solid var(--border);
    padding: 0.75rem 0 0.2rem 0;
}
