.crit {
    display: flex;
    /* padding: 0.75rem 1rem; */
    padding: 0.65rem 1rem;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    width: 100% !important;
    cursor: pointer;
}

.crit:hover {
    background-color: var(--crit-hover);
}

.crit .pfp-container {
    padding: 0.3rem 0.75rem 0 0;
}

.crit .pfp-container .pfp {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.crit .crit-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.crit .crit-container .quote-preview {
    margin-top: 0.75rem;
}

.crit-content .crit_text {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--white);
    white-space: pre-wrap;
}

.crit-content .crit-text {
    font-size: 0.9375rem;
    font-weight: 500;
    /* display: block; */
    word-wrap: break-word;
}

.crit-text p {
    width: 100%;
}

.crit-content .media-container {
    margin-top: 0.75rem;
}

.crit-content .media-container .crit_media {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 1rem;
}

.crit .crit-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem !important;
}

.crit-btn {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--grey);
    /* margin-right: 2rem; */
    transition: all 0.2s ease-out;
}

.crit-btn .count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.crit-actions .crit-btn .float-options {
    bottom: -50px !important;
    left: -10px !important;
    width: 200px;
}

.crit-btn .more-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.crit-btn .count-container span {
    padding: 0 0.75rem;
}

.crit-btn.comment.applied .crit_icon,
.crit-btn.comment.applied span {
    color: var(--primary-colour);
}

.crit-btn.recrit.applied .crit_icon,
.crit-btn.recrit.applied span {
    color: var(--recrit);
}

.crit-btn.like.applied .crit_icon,
.crit-btn.like.applied span {
    color: var(--like);
}

.crit-btn .icon-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    /* margin-right: 0.5rem; */
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.crit-btn .icon-container .crit_icon {
    width: 100%;
    height: 100%;
    stroke-width: 2px !important;
}

.crit-btn:last-child .icon-container {
    margin: 0;
}

/* .crit-btn.more .icon-container {
    width: auto;
    height: auto;
} */

.crit-btn.more {
    margin-left: auto;
    margin-right: 0;
    padding: 0 !important;
}

.crit > .float-options {
    right: 13px !important;
    top: 13px !important;
    width: 250px;
}

.crit .more-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.crit .more-btn.delete {
    color: red;
}

.crit-btn.more .more .crit-btn .crit_icon {
    color: var(--grey);
    transition: all 0.2s ease-out;
}

.crit-btn.recrit:hover .icon-container::after {
    background-color: rgba(0, 186, 124, 0.2);
}

.crit-btn.recrit:hover .crit_icon {
    color: var(--recrit);
}

.crit-btn.recrit:hover {
    color: var(--recrit);
}

.crit-btn.like:hover .icon-container::after {
    background-color: rgba(249, 24, 128, 0.2);
}

.crit-btn.like:hover .crit_icon {
    color: var(--like);
}

.crit-btn.like:hover {
    color: var(--like);
}

.crit-btn.comment:hover,
.crit-btn.share:hover,
.crit-btn.more:hover,
.crit-btn.view:hover {
    color: var(--primary-colour);
}

.crit-btn.comment:hover .crit_icon,
.crit-btn.share:hover .crit_icon,
.crit-btn.more:hover .crit_icon,
.crit-btn.view:hover .crit_icon {
    color: var(--primary-colour);
}

.crit-btn .icon-container::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 99999rem;
    transition: all 0.2s ease-out;
}

.crit-btn.comment:hover .icon-container::after,
.crit-btn.share:hover .icon-container::after,
.crit-btn.more:hover .icon-container::after,
.crit-btn.view:hover .icon-container::after {
    background-color: rgba(29, 155, 240, 0.1);
}

.float-icon-container {
    width: 18px !important;
    height: 18px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
}

.float-icon-container .float-icon {
    width: 100%;
    height: 100%;
    stroke-width: 2px;
}

.crit .replyingTo {
    color: var(--grey);
    margin-bottom: 0.5rem;
}

.crit .replyingTo,
.crit .replyingTo a {
    font-size: 0.95rem;
    font-weight: 500;
}
